.hodiu { 
  border-left-width: 65px;
  padding-right: 63px;
  font-size: 32px;
  margin-right: 52px;
  margin-top: 7px;
  margin-left: 20px;
  padding-left: 85px;
  border-right-width: 68px;
  padding-left: 54px;
  padding-left: 60px;
  padding-bottom: 67px;
  line-height: 50px;
  margin-top: 65px;
  font-size: 50px;
  border-top-width: 75px;
  line-height: 38px;
  margin-top: 52px;
  margin-top: 30px;
  line-height: 96px;
  margin-top: 82px;
  margin-left: 64px;
  margin-right: 3px;
  margin-top: 79px;
  padding-bottom: 17px;
  border-top-width: 84px;
}
