.hodiu { 
  border-left-width: 65px;
  padding-right: 63px;
  font-size: 32px;
  margin-right: 52px;
  margin-top: 7px;
  margin-left: 20px;
  padding-left: 85px;
  border-right-width: 68px;
  padding-left: 54px;
  padding-left: 60px;
  padding-bottom: 67px;
  line-height: 50px;
  margin-top: 65px;
  font-size: 50px;
  margin-left: 98px;
}
